# Copyright (c) 2025 Robert Srinivasiah

# Roughly based on MS style, but some Google-isms mixed in.

BasedOnStyle: Microsoft

AccessModifierOffset: -4

AlignEscapedNewlines: LeftWithLastLine

AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

BreakTemplateDeclarations: Yes

BinPackArguments: true
BinPackParameters: true

BreakConstructorInitializers: BeforeComma

ColumnLimit: 110

Cpp11BracedListStyle: true

DerivePointerAlignment: false
PointerAlignment: Left

FixNamespaceComments: true
ShortNamespaceLines: 1

IndentPPDirectives: BeforeHash

IndentWidth: 4

Language: Cpp

NamespaceIndentation: All

UseTab: Never